.main-container{

    background-image: url(../src/candado.jpg);
    background-size: cover;
    background-position: center;
    width: 90%;
    max-width: 1000px;
    padding: 40px 20px;
    margin: auto;   
    border-radius: 15px;
}

 .card-number {
    color: whitesmoke;
    font-size: 17px;
    font-weight: bolder;
    margin-left: 15px;
 }
 .name-lastname {
    color: whitesmoke;
    font-size: 17px;
    font-weight: bolder;
    margin-left: 15px;
 }
 .clave {
    color:whitesmoke ;
    font-size: 17px;
    font-weight: bolder;
    margin-left: 15px;
 }
 .type {
    color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
    margin-left: 30px;
    text-align: right;
    padding-right: 20px;
   
 }
 .security { 
    color: black;
    font-weight: bolder;
    text-align: center;
    margin-left: 15px;
    
 }
 
 .chip {
   width: 60px;
   height: 50px;
 }
 .title{
   text-align: center;
   color: aliceblue;
 }
 input::placeholder{
   text-align: center;
 }
 .button{
   text-align: left;
   padding-left: 41px;
 }
 
 body{ 
   background-image: url(../src/imagen\ para\ el\ final.jpg)
 }